@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

header {
    display: flex;
    background-color: white;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    color: #F06E54;
    text-align: center;
}

.navbar-link,
.nav-link {
    font-weight: bold;
    color: #F06E54;
    text-decoration: none;
    padding-right: 10px;
}

a:hover {
    color: #F05BF0;
}

.logo {
    display: flex;
    align-items: center;
}

header img {
    width: 180px;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

body {
    background-color: #F06E54;
}

main {
    display: flex;
    align-items: center;
    min-height: 70vh;
    margin: 10px;
    padding: 10px;
}

.bg-jumbotron {
    background-image: url(../img/fondo-jumbotron.png);
    background-size: contain;
    background-position: 80%;
    height: 80vh;
    margin-bottom: 0px;
}

.bg-jumbotron h1 {
    font-family: 'Dancing Script', cursive;
}

.bg-jumbotron p {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 100;
}

.jumbotron-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    left: 400px;
    width: 30%;
    max-width: 500px;
    background-color: #F06E54;
    padding: 20px;
    position: absolute;
}

.jumbotron {
    display: flex;
}

.jumbotron-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 25px;
}

.btn-enviar {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 80px;
    margin-left: 40px;
}

input {
    width: 180px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    border: none;
    margin-bottom: 50px;
}

main h1 {
    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

.tarjetas {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.tarjeta {
    width: 30%;
}

.tarjeta img {
    width: 100%;
    height: auto;
}

.card-body {
    background-color: #FCE4CA;
}

main h5 {
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
}

main .comprar {
    display: flex;
    justify-content: center;
    text-align: center;

}

.card-title-1,
.card-title-2,
.card-title-3,
.card-title-4,
.card-title-5,
.card-title-6 {
    width: 100%;
    text-align: center;
}

main a {
    margin: 0 auto;
}

aside {
    margin-bottom: 20px;
    width: 60%;

}

aside h1 {
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    justify-content: center;
}

.grid-layaut {
    display: grid;
    grid-template-columns: auto auto;
}

aside h2 {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: white;
    font-family: 'Dancing Script', cursive;
}

footer, a {
    background-color: white;
    text-decoration: none;
}

footer img {
    width: 180px;
    height: 120px;
}

footer .text-dark {
    display: flex;
}

footer .contacto {
    display: flex;
    flex-direction: row;
}

footer .inicio {
    display: flex;
    flex-direction: row;
}

footer .icono {
    width: 10%;
}

@media (max-width: 680px) {
    header {
        flex-flow: column wrap;
    }

    header img {
        width: 120px;
        height: 80px;
        margin-bottom: 10px;
    }

    header h2 {
        font-size: 30px;
    }


    .jumbotron {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .jumbotron .jumbotron-overlay {
        width: 100%;
        left: unset;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tarjetas {
        display: flex;
        flex-flow: column;
        gap: 15px;
    }

    .tarjeta {
        width: 100%;
    }

    .tarjeta img {
        width: 100%;
        height: auto;
    }

    main a {
        margin: 0;
    }

    aside {
        width: 100%;
        margin: 0;
    }

    main {
        margin: 0;
        padding: 10px;
    }

    .grid-layaut {
        display: grid;
        grid-template-columns: auto;
        gap: 15px;
    }

}